.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}
.box {
  width: 49px;
  height: 49px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  cursor: pointer;
  user-select: none;
}
.box.gray {
  background-color: gray !important;
  color: lightgray !important;
}
.box.white {
  background-color: white !important;
}
.box.yellow {
  background-color: yellow !important;
  color: black !important;
}
.wordLineTitle {
  margin-top: 50px;
}
.filteredList {
  margin: 20px;
  user-select: none;
}
